%section.banner.clearfix
	%div#banner_content_wrapper
		%div#poster
			= image_tag("deadpool.jpg")
			= image_tag("play_button.png")
		%div#content	
			%h2 Deadpool
			%div.ratings
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star.inactive
			%p.description
				A former Special Forces operative turned mercenary is subjected to a rogue experiment that leaves him with accelerated healing powers, adopting the alter ego Deadpool.
			%p.info
				R <span>|</span> 108 min <span>|</span> Action, Adventure, Comedy <span>|</span> 12 February 2016	

%section#top_movies	
	.wrapper	
		%header.clearfix
			%h2 Popular Movies
			%p.view_more View All Movies
		%div.row
			%div.post
				=image_tag("the-martian.jpg")	
			%h3.title The Martian
			%p.post_info PG13 | 103 Minutes	
		%div.row
			%div.post
				=image_tag("mad-max.jpg")	
			%h3.title Mad Max
			%p.post_info PG18 | 117 Minutes	
		%div.row
			%div.post
				=image_tag("star-wars.jpg")	
			%h3.title Star Wars
			%p.post_info PG16 | 140 Minutes	
		%div.row
			%div.post
				=image_tag("jurassic-world.jpg")	
			%h3.title Jurassic World
			%p.post_info PG14 | 131 Minutes	
		%div.row
			%div.post
				=image_tag("avengers.jpg")	
			%h3.title Avengers
			%p.post_info PG6 | 97 Minutes	
		%div.row
			%div.post
				=image_tag("inside-out.jpg")	
			%h3.title Inside Out
			%p.post_info PG6 | 103 Minutes					

%section#top_shows	
	.wrapper
		%header.clearfix
			%h2 Popular TV Shows
			%p.view_more View All TV Shows
		

		%div.row
			%div.post
				=image_tag("game-of-thrones.jpg")	
			%h3.title Game of Thrones
			%p.post_info PG16 | Season 4	
		%div.row
			%div.post
				=image_tag("master-of-none.jpg")	
			%h3.title Master of None
			%p.post_info PG12 | Season 1	
		%div.row
			%div.post
				=image_tag("empire.jpg")	
			%h3.title Empire
			%p.post_info PG13 | Season 2	
		%div.row
			%div.post
				=image_tag("walking-dead.jpg")	
			%h3.title The Walking Dead
			%p.post_info PG14 | Season 5
		%div.row
			%div.post
				=image_tag("mr-robot.jpg")	
			%h3.title Mr. Robot
			%p.post_info PG6 | Season 2	
		%div.row
			%div.post
				=image_tag("breaking-bad.jpg")	
			%h3.title Inside Out
			%p.post_info PG6 | Season 7		
	

%section#newsletter
	%div.newsletter_inner
		%h2 Get the best Movie &amp; TV Show trailers straight in your inbox each week.
		%div.sign_up_form
			%input{:placeholder => "First Name", :type => "text"}/	
			%input{:placeholder => "Email Address", :type => "email"}/	
			%button.button Subscribe

%footer#main_footer
	%p.logo Movies<span>&amp</span>Stuff
	%p.copyright &copy;2016 Movies &amp; Stuff. All Rights Reserved.
	%div.links
		=link_to "Terms of Service"
		=link_to "Privacy Policy"