%section.banner.clearfix
	%div#banner_content_wrapper
		%div#poster
			= image_tag("deadpool.jpg")
			= image_tag("play_button.png")
		%div#content	
			%h2 Deadpool
			%div.ratings
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star.inactive
			%p.description
				A former Special Forces operative turned mercenary is subjected to a rogue experiment that leaves him with accelerated healing powers, adopting the alter ego Deadpool.
			%p.info
				R <span>|</span> 108 min <span>|</span> Action, Adventure, Comedy <span>|</span> 12 February 2016	